
.row{
	width:100% ;
	position: relative;
}
@media (min-width: 992px) {
	.col-lg-4{
		width: 33.33%;
		float: left;
	margin-top: auto;
	padding-top: 10px;	
	}
	
}
@media (min-width: 768px) and (max-width: 991px) {
	.col-md-6{
		width: 50%%;
		float: left;
		margin-top: auto;
padding-top: 10px;
}
}
@media (max-width: 767px) {
	.col-sd-12{
		width: 99%;
		float: left;
		padding-top: 10px;
margin-top: auto;
}
}
#div{
	border: 1px solid darkblue;
	width: 90%;
	height: 200px;
	margin-right: auto;
		margin-left: auto;
		margin-bottom: auto;
		margin-top: auto;
	color: white;
		background-color: #ae275f;
		padding-top: 10px;
		position: relative;
}

.row > div{
background-color: white;
position: relative;

}



#p{
	clear: right;
	padding: 10px;
}

#module1{
	background-color: black;
	border: 1px solid darkblue;
	float: right;
	text-align: center;
	width: 80px;
	color: white;
	margin: 0px 10px 0px 0px;
	margin-right: 0px;
}


